    #map {
        width: 1200px;
        height: 800px;
    }

    .info {
        background: white;
        padding: 6px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* Added shadow */
    }

    .info.legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin-right: 8px;
        opacity: 0.7;
    }

    .info-box {
        display: none;
        position: absolute;
        background: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        z-index: 1000;
        pointer-events: none;
        max-width: 200px;
        left: 0;
        top: 0;
    }